<p-tree
  [value]="nodes"
  [contextMenu]="cm"
  [(selection)]="selectedNode"
  selectionMode="single"
  styleClass="w-full"
  style="height: 400px; overflow-y: auto;"
  [draggableNodes]="true"
  [droppableNodes]="true"
  (onNodeDrop)="onNodeDrop($event)"
  filter="true"
  filterBy="label,data.type,data.status"
  filterMode="strict"
  filterPlaceholder="搜尋..."
  [virtualScroll]="true"
  [virtualScrollItemSize]="40"
  [lazy]="true"
  [scrollHeight]="'100%'"

>
  <ng-template let-node pTemplate="default">
    <span>
      <i *ngIf="node.icon" [class]="node.icon" style="margin-right: 4px;"></i>
      {{ node.label }}
      <span style="margin-left: 1rem; color: #888;">({{ node.data.type }})</span>
      <span style="margin-left: 1rem; color: #888;">[{{ node.data.status }}]</span>
    </span>
  </ng-template>
</p-tree>
<p-contextmenu #cm [model]="contextMenuItems"></p-contextmenu> 