<p-card *ngIf="user$ | async as user" styleClass="user-panel">
  <div class="user-info">
    <p-avatar [image]="user.photoURL || undefined" [label]="user.displayName ? user.displayName[0] : undefined" shape="circle"></p-avatar>
    <div class="details">
      <div class="name">{{ user.displayName || '未命名用戶' }}</div>
      <div class="email">{{ user.email }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="登出" icon="pi pi-sign-out"></button>
  </ng-template>
</p-card>
