<div>
  <div class="font-semibold mb-2">多選 (Checkbox)</div>
  <p-tree
    [value]="files"
    selectionMode="checkbox"
    styleClass="w-full md:w-[30rem]"
    [(selection)]="selectedFiles"
  ></p-tree>
  <div class="font-semibold mb-2">寬鬆過濾</div>
  <p-tree
    [value]="files"
    styleClass="w-full md:w-[30rem]"
    [filter]="true"
    filterPlaceholder="Lenient Filter"
  ></p-tree>
  <div class="font-semibold mb-2">嚴格過濾</div>
  <p-tree
    [value]="files2"
    styleClass="w-full md:w-[30rem]"
    [filter]="true"
    filterMode="strict"
    filterPlaceholder="Strict Filter"
  ></p-tree>
  <div class="font-semibold mb-2">多選 (Multiple, 無需 Ctrl)</div>
  <p-tree
    [value]="files"
    selectionMode="multiple"
    [(selection)]="selectedFilesMultiple"
    [metaKeySelection]="metaKeySelection"
    styleClass="w-full md:w-[30rem]"
  ></p-tree>
</div>
