<app-sidenav>
  <ng-container sidenavLogo>
    <p-menubar [model]="menubarItems"></p-menubar>
  </ng-container>
  <ng-container sidenavHeader>
    <div class="font-bold text-lg">Workspace</div>
  </ng-container>
  <ng-container sidenavBody>
    <!-- 自動切換拖曳模式，無需按鈕 -->
    <p-tree [value]="treeNodes"
           selectionMode="single"
           [(selection)]="selectedNode"
           [contextMenu]="cm"
           [draggableNodes]="true"
           [droppableNodes]="true"
           [virtualScroll]="true"
           scrollHeight="250px"
           [virtualScrollItemSize]="46"
           [filter]="true"
           filterPlaceholder="搜尋節點"
           (onNodeSelect)="onNodeSelect($event)"
           (onNodeUnselect)="onNodeUnselect($event)"
           (onNodeDrop)="onNodeDrop($event)"
           [loading]="loading"
           [loadingIcon]="'pi pi-spin pi-spinner'"
           class="w-full"
    ></p-tree>
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
  </ng-container>
  <ng-container sidenavFooter>
    <div class="text-xs text-gray-400">Workspace 專屬資訊</div>
  </ng-container>
</app-sidenav>
