<!-- Toast 消息顯示 -->
<p-toast></p-toast>

<app-sidenav>
  <ng-container sidenavLogo>
    <p-menubar [model]="menubarItems"></p-menubar>
  </ng-container>
  
  <ng-container sidenavBody>
    <!-- 使用外層容器統一滾動 -->
    <div class="tree-scroll-container">
      <p-tree
        [value]="treeNodes$ | async"
        [selection]="selectedNode$ | async"
        [contextMenu]="cm"
        [draggableNodes]="(treeConfig$ | async)?.enableDragDrop"
        [droppableNodes]="(treeConfig$ | async)?.enableDragDrop"
        [virtualScroll]="(treeConfig$ | async)?.enableVirtualScroll"
        [virtualScrollItemSize]="(treeConfig$ | async)?.virtualScrollItemSize"
        [scrollHeight]="'100%'"
        [lazy]="(treeConfig$ | async)?.enableLazyLoad"
        [filter]="true"
        filterPlaceholder="搜尋節點"
        selectionMode="single"
        draggableScope="workspace"
        droppableScope="workspace"
        (onNodeSelect)="onNodeSelect($event)"
        (onNodeUnselect)="onNodeUnselect($event)"
        (onNodeExpand)="onNodeExpand($event)"
        (onNodeCollapse)="onNodeCollapse($event)"
        (onNodeDrop)="onNodeDrop($event)"
        class="w-full">
      </p-tree>
    </div>
    
    <!-- 右鍵選單 -->
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
  </ng-container>
  
  <ng-container sidenavFooter>
    <div class="text-xs text-gray-400">{{ (treeNodes$ | async)?.length || 0 }} 個節點</div>
  </ng-container>
</app-sidenav>
