<app-sidenav>
  <ng-container sidenavLogo>
    <p-menubar [model]="menubarModel"></p-menubar>
  </ng-container>
  <ng-container sidenavHeader>
    <div class="font-bold text-lg">Workspace</div>
  </ng-container>
  <ng-container sidenavBody>
    <div class="card mb-4">
      <app-right-click></app-right-click>
    </div>
    <div class="card mb-4">
      <app-checkbox></app-checkbox>
    </div>
    <div class="card mb-4">
      <app-search></app-search>
    </div>
    <div class="card mb-4">
      <!-- 嚴格過濾已合併至 app-search -->
    </div>
    <div class="card mb-4">
      <!-- 多選 (Multiple, 無需 Ctrl) 及單選 demo 建議模組化遷移，暫移除 -->
    </div>
    <div class="card mb-4">
      <app-lazy></app-lazy>
    </div>
    <div class="card mb-4">
      <app-virtual></app-virtual>
    </div>
    <div class="card mb-4 flex gap-4">
      <app-dnd></app-dnd>
    </div>
    <div class="card mb-4">
      <div class="font-semibold mb-2">節點圖示 (Icon)</div>
      <p-tree
        [value]="filesWithIcon"
        styleClass="w-full md:w-[30rem]"
      ></p-tree>
      <p-tree
        [value]="filesWithIcon"
        styleClass="w-full md:w-[30rem]"
        selectionMode="single"
        [(selection)]="selectedFileIcon"
        (onNodeExpand)="nodeExpand($event)"
        (onNodeCollapse)="nodeCollapse($event)"
        (onNodeSelect)="nodeSelect($event)"
        (onNodeUnselect)="nodeUnselect($event)"
      ></p-tree>
    </div>
    <div class="card mb-4">
      <app-disable></app-disable>
    </div>
    <div class="card mb-4">
      <app-template></app-template>
    </div>
    <p-contextMenu #cm [model]="contextMenuItems"></p-contextMenu>
    <p-toast></p-toast>
  </ng-container>
  <ng-container sidenavFooter>
    <div class="text-xs text-gray-400">Workspace 專屬資訊</div>
  </ng-container>
</app-sidenav>
