<div class="flex gap-4">
  <div>
    <div class="font-semibold mb-2">跨樹拖曳 A</div>
    <p-tree
      [value]="files3"
      [draggableNodes]="true"
      [droppableNodes]="true"
      draggableScope="multi-tree"
      droppableScope="multi-tree"
      styleClass="w-full md:w-[15rem]"
    ></p-tree>
    <p-tree
      [value]="files3"
      styleClass="w-full md:w-[15rem]"
      selectionMode="single"
      [(selection)]="selectedFile3"
    ></p-tree>
  </div>
  <div>
    <div class="font-semibold mb-2">跨樹拖曳 B</div>
    <p-tree
      [value]="files4"
      [draggableNodes]="true"
      [droppableNodes]="true"
      draggableScope="multi-tree"
      droppableScope="multi-tree"
      styleClass="w-full md:w-[15rem]"
    ></p-tree>
    <p-tree
      [value]="files4"
      styleClass="w-full md:w-[15rem]"
      selectionMode="single"
      [(selection)]="selectedFile4"
    ></p-tree>
  </div>
</div>
<div class="mb-6">
  <div class="font-semibold mb-2">單樹內拖曳</div>
  <p-tree
    [value]="singleTree"
    [draggableNodes]="true"
    [droppableNodes]="true"
    styleClass="w-full md:w-[20rem]"
    selectionMode="single"
    [(selection)]="selectedSingle"
  ></p-tree>
</div>
