<p-menubar [model]="menubarItems">
  <ng-template #start>
    <i class="pi pi-apple px-2"></i>
  </ng-template>
  <ng-template #end>
    <i class="pi pi-video px-2"></i>
    <i class="pi pi-wifi px-2"></i>
    <i class="pi pi-volume-up px-2"></i>
    <span class="px-2">Fri 13:07</span>
    <i class="pi pi-search px-2"></i>
    <i class="pi pi-bars px-2"></i>
  </ng-template>
</p-menubar>
<div class="dock-window">
  <p-dock [model]="dockItems" position="bottom">
    <ng-template #item let-item>
      <a [pTooltip]="item.label" tooltipPosition="top" class="p-dock-item-link">
        <img [alt]="item.label" [src]="item.icon" style="width: 100%" />
      </a>
    </ng-template>
  </p-dock>
  <p-toast position="top-center" key="tc" />
  <p-dialog [(visible)]="displayFinder" header="Finder">
    <!-- Finder 內容可自訂，預設空白 -->
  </p-dialog>
  <div *ngIf="(state.showTreeTable$ | async)" style="margin-top: 1rem;">
    <app-shared-treetable [files]="(state.treeTableData$ | async) || []" [cols]="(state.treeTableColumns$ | async) || []"></app-shared-treetable>
  </div>
</div> 