<app-workspace-menubar [model]="menubarItems"></app-workspace-menubar>
<div (contextmenu)="onDockContextMenu($event)">
  <p-dock *ngIf="isBrowser" [model]="dockItems" position="bottom" breakpoint="960px">
    <ng-template #item let-item>
      <a class="p-dock-item-link" [pTooltip]="item.label" tooltipPosition="top">
        <ng-container *ngIf="item.icon && item.icon.startsWith('pi '); else imageTpl">
          <i [class]="item.icon" style="font-size: 2rem"></i>
        </ng-container>
        <ng-template #imageTpl>
          <img *ngIf="item.icon && !item.icon.startsWith('pi ')", [src]="item.icon" [alt]="item.label" style="width: 2rem; height: 2rem;" />
        </ng-template>
      </a>
    </ng-template>
  </p-dock>
  <app-workspace-contextmenu #dockContextMenu [model]="dockContextMenuItems"></app-workspace-contextmenu>
</div>
<div *ngIf="(state.showTreeTable$ | async)" style="margin-top: 1rem;">
  <app-shared-treetable [value]="(state.treeTableData$ | async) || []" [columns]="(state.treeTableColumns$ | async) || []" [nodeTypes]="data.getNodeTypes()"></app-shared-treetable>
</div>
<div *ngIf="(state.showTree$ | async)" style="margin-top: 1rem;">
  <app-workspace-tree
    [nodes]="(state.treeData$ | async) || []"
    [(selectedNode)]="selectedTreeNode"
    (action)="onTreeAction($event)"
    (reload)="loadNodes()"
  ></app-workspace-tree>
</div> 